.formulario{
    padding-top: 50px;
    padding-left: 30px;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046); 
    margin: 20px 50px 0 50px;
    border-radius: 1em;
    font: italic 1.3em 'Oswald', sans-serif;
    color: lightblue;
    border: 10px outset rgb(25, 90, 112);
}
.enviar{
    padding: 5px;
    font: italic bolder .9em 'Oswald', sans-serif;
    color: rgb(25, 90, 112);
    font-weight: bold;
    border: 5px outset rgb(25, 90, 112);
    border-radius: 5px;
}
label{
    display: inline-block;
    width: 10vw;
    text-align: right;
}
input, textarea{
    font: .8em sans serif;
    width: 15vw;
    box-sizing: border-box;
    border: 2px solid red;
}
textarea{
    width: 30vw;
    height: 15vh;
}