.cont-grid{
    display: grid; 
    grid-gap: 1.98em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 570px 570px 590px;
}
.cont-grid > div{
    text-align: center;
    font: italic 1.3em 'Oswald', sans-serif;
    color: lightblue;
}
img{
    height: 70vh;
    border: 7px solid gray;
    padding: 0;
    margin: 5px;
    box-shadow: 4px 4px 14px gray;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg");
}
.item8{
    grid-column-start: 1;
    grid-column-end: 4;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg");
    margin: 15px;
    padding: 1em 4em 2em 4em;
}
