.cont-grid{
    display: grid; 
    grid-gap: 33px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-template-rows: 150px 570px 490px 150px 420px 440px;
    
}
.cont-grid > div{
    text-align: center;
    font: italic 1.3em 'Oswald', sans-serif;
    color: lightblue;
}
img{
    border: 7px solid gray;
    padding: 0;
    margin: 5px;
    box-shadow: 4px 4px 14px gray;
}
.grid-item{
    text-align: center;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg"); 
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 2vw;
}
.item5{
    grid-column-start: 2;
    grid-column-end: 4;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg");
}
h2{
    margin-top: 5px;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg");
    margin-top: 30px;
    height: 10vh;
}
.item7{
    grid-row-start: 5;
}
.item8{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    border: 3px groove gray;
    background-image: url("../imagenes/Visions-of-Grandeur.jpg");
    margin: 15px;
    padding: 0 25px 0 25px;
}
